@import url('https://fonts.googleapis.com/css?family=Overpass');
html,
body {
  margin: 0;
  padding: 0;
  font-size: 10px;
}
body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  color: #000;
  background-color: hsl(216, 12%, 8%);
  height: 100vh;
  font-family: 'Overpass';
  color: hsl(217, 12%, 63%);
  padding: 0 1rem;
}
ol,ul {
  list-style: none;
}
.ratingBody {
  font-size: 1.5rem;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: hsl(213, 19%, 18%);
  padding: 3.3rem 3.4rem;
  height: 41.5rem;
  width: 41.5rem;
  border-radius: 3rem;
}
.ratingStarLogo {
  position: relative;
  line-height: 1;
  padding: 1.45rem 1.6rem;
  background-color: hsl(217, 12%, 63%, 0.1);
  display: inline-block;
  border-radius: 50%;
  margin-bottom: 3rem;
}
h1 {
  font-size: 2.9rem;
  font-weight: 600;
  color: hsl(0, 0%, 100%);
  margin-bottom: 1.2rem;
}
.ratingBody p {
  line-height: 1.5;
}
.rating-numbers ol {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}
.rating-numbers ol li {
  cursor: pointer;
  background-color: hsl(217, 12%, 63%, 0.1);
  border-radius: 50%;
  text-align: center;
  width: 5.2rem;
  padding: 1.65rem 0;
}
.rating-numbers ol li:hover {
  background-color: hsl(217, 12%, 63%);
  color: hsl(0, 0%, 100%);
}
.rating-numbers ol li.active {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
}
.rating-submit {
  margin-top: 3rem;
}
.submit-btn {
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  background-color: hsl(25, 97%, 53%);
  padding: 1.2rem;
  border-radius: 3rem;
  font-weight: 600;
}

.submit-btn:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
}